header {
    font-size: 12px;
    color:black;
    padding-top: 70px;
    padding-bottom:10;
    padding-right: 50%;
    padding-left: 50%;
    text-align: center;
    width: max-content;
}

.pragraph{
    color: #1f1d1d;
    text-align: center;

}

h3{
    color:black;
    border-radius: 50px ;
    text-align:center;
}

.row1, .row2, .row3, .contact {
    
    display: flex; 
    justify-content: space-between;
    color: #000000;
    
}
