.overlay {
    position: absolute;
 top: 0;
    left: 0;
    width: 50;
    height: 200;
    border-style: solid;
    border-width: 0 85vw 750px 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.623) transparent;
    z-index: 2;
    margin-bottom: 25px;
}



.overlay3 {
    position: absolute;
    height: 100vh;
            width: 100%;
            left: 0;
            top: 0;
            border-style: solid;
            border-width: 0px 10px 750px 0;
           
    border-color: transparent transparent rgba(0, 0, 0, 0.571) transparent;
    z-index: 1;
    margin-bottom: 5px;
}
.content-wrapper {
    background-image: url('istockphoto-1254819596-612x612.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 3;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    margin-bottom: 500px;
    top: 0;
    left: 0;
}
.cont{
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 30px;
}

.background-image {
    top: 0;
    width: 100%;
    height: 80%;
right: 0;

  
}

.overlay2{
    position: absolute;
 top: 0;
    left: 0;
    width: 50;
    height: 200;
    border-style: solid;
    border-width: 0 90vw 480px 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.623) transparent;
    z-index: 2;
    margin-bottom: 25px;
}

.text {
    position: absolute;
    top: 20%; 
    left: 20px;
    color: #fff; 
    font-size: 40px; 
    z-index: 3; 
    text-align: left; 
    width: calc(100% - 100px);
    
}
.text2 {
    position: absolute;
    top: 35%; 
    left: 40px;
    color: #fff; 
    font-size: 18px; 
    z-index: 3; 
    text-align: left; 
    width: calc(100% - 100px);
}
.btn2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: #0169ca;
    color:#fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 3;
}


        h1 {
            text-align: left;
            font-size: 70px;
            margin-top: 18%;
            z-index: 5;
            position: relative;
            margin-left: 20px;
        }

       .content-wrapper p {
            text-align: left;
            font-size: 25px;
            z-index: 5;
            position: relative;
            margin-left: 40px;

        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px 0;
            z-index: 4;
            padding: 10px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0169ca;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            z-index: 2;
        }

        @keyframes changeBackground {
            30% {
                background-image: url('istockphoto-1254819596-612x612.jpg');
            }

            50% {
                background-image: url('interior-of-a-regular-intercity-bus-2021-08-30-03-14-36-utc-scaled.jpg');
            }
            100% {
                background-image: url('istockphoto-1254819596-612x612.jpg');
            }
        }

        .content-wrapper {
            animation: changeBackground 10s infinite;
        }
        * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

        /* About */
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 600px;
    margin-right: 500px;
    margin-bottom: 50px;
    margin-left: 500px;
    
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #0169ca;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: .5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;

}

.about-content .learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0169ca;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
}

.about-content .learn-more:hover {
    background-color: #005baf;
}
/* Services */
.titel h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 42px;
}

.titel h1::after {
    content: "";
    width: 230px;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #0169ca;
}
    .titel h1{
        margin-top: 5%;
    }

.services {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px 20px;
    cursor: pointer;
}

.card .icon {
    font-size: 35px;
    margin-bottom: 10px;

}

.card h2 {
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
}

.card p {
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0169ca;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: .3s ease;
}

.button:hover {
    background-color: #005aae;
    transition: .4s ease;
}
.payment{
    padding: 50px 32px;
    flex: 1 1 50%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}
.payimg{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 16px ;
    gap: 90px;
    padding: 30px;
}
.payment h3 {
    color: rgb(0, 45, 89);
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}


.payment p{
    color: rgb(0, 45, 89);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}

    /* Catigories */
.catigories {
    padding-top: 60px;
    padding-bottom: 60px;
}

.catigories .container .special-heading {
    text-align: center;
    color: #333;
    font-size: 50px;
    margin-bottom:  20px;
}

.catigories .container .special-heading::after {
    content: "";
    width: 230px;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #0169ca
}

.catigories .container p {
    text-align: center;
}

.catigories .catigories-content {
    display: flex;
    flex-wrap: 30px;
    margin-top: 80px;
}

.catigories .catigories-content .card {
    background-color: white;
}

.catigories .catigories-content .card img {
    max-width: 100%;
}

.catigories .catigories-content .card .info {
    padding: 20px;
}

.catigories .catigories-content .card .info h3 {
    margin: 0;
}




.catigories .catigories-content .card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0169ca;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 15px;
}

.titel h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 42px;
}

.titel h1::after {
    content: "";
    width: 230px;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #0169ca
}

/* Booking */
.booking .container .special-heading {
    text-align: center;
    font-size: 40px;
    padding-top: 42px;
    width: 100%;
}

.booking .container .special-heading::after {
    content: "";
    width: 230px;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #0169ca
}

.booking .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

.booking .booking-content {
    display: flex;
    justify-content: center;
}

.booking .booking-content .card {
    margin-top: 10px;
}

.booking .booking-content .card .info {
    margin: auto;
}